html {
    height: fit-content;
    background: linear-gradient(45deg, red, yellow, blue, red);
    font-family: 'Times New Roman', Times, serif;
}
section {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: 4px solid black;
    text-align: center;

    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;

    padding-left: 16px;
    padding-right: 16px;
}
iframe {
    margin-bottom: 16px;
}




/* Special Things */
.header {
    display: flex;
    justify-content: center;
}
.header a {
    text-decoration: none;
    color: black;
}
.link_button {
    display: flex;
    justify-content: center;
    float: center;

    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid black;
    text-align: center;

    width: 50px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;

    margin: auto;
}
.link_button:hover {
    background-color: rgba(94, 94, 94, 0.5);
}
.link_button img {
    width: 40px;
    height: 40px;
}